
/*The body of our html */
body {
    background-color: black;
}


/* The header with navigation, an image and an icon */
header{
    position: fixed;/* The header remains static thanks to this property */
    left:0;
    top: 0;
    width: 100%;
    z-index: 1000;

    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Image*/
.profileheader img {
    width: 5em;
    height: auto;
    transition: 0.3s ;
}
.profileheader img:hover {
    transform: scale(1.2);
}

/* navigation area */
.navigation ul {
    display: flex;
    gap: 4em;
    list-style-type: none;
}
.navigation a {
    text-decoration: none;
    color: #ffff;
    font-size: 120%;
}
li {
    transition: 0.3s;
}
.navigation li:hover {
    transform: translateY(-0.3em);
}

/* generic profile icon */
.fa-regular{
    color: #ffff;
    font-size: 2em;
    transition: 0.3s;
}
.fa-regular:hover {
    transform: scale(1.2);
}

/* separator or stripe */
.stripe{
    background-color: #ffff;
    margin-top: 10%;
    padding: 0.3vh 1vh;
}


main{
    margin-top: 3em;
    text-align: center;
}
/* H1 and P general */
h1{
    color: #ffff;
    font-size: 5em;
}
p{
    color: #ffff;
    font-size: 25px;
}

/* section where the contact section is located */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name input {
    background-color: transparent;
    padding: 1em 23em;
    border: 1px solid white;
    border-radius: 10px;
    margin-top:20px;
    color: rgb(255, 255, 255);
}
/* Input general*/
input::-webkit-input-placeholder { 
    position:absolute;
    left: 0px;
    top: 0px;
    font-size: 20px; 
    color: azure;
    padding-left: 10px;
}
input {
    font-size: 20px;
    margin: 0.6rem 0;
}
.email input {
    background-color: transparent;
    padding: 1em 23em;
    border: 1px solid white;
    border-radius: 10px;
    margin-top:20px;
    color: rgb(255, 255, 255);
    
}
.mensaje input {
    background-color: transparent;
    padding: 10em 30em;
    border: 1px solid white;
    border-radius: 10px;
    margin-top:20px;
    color: rgb(255, 255, 255);
    display: block;
    font:
    1rem "Fira Sans",
    sans-serif;
}

button {
    padding: 20px 20px;
    background-color: #000;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    transform: scale(1.03);
}
/* Footer end of this page */

footer {
    background-color: #ffffff;
    padding: 2em ;
    margin-top: 2em;
    text-align: center;
    
}
.fab {
    color:black;
    font-size: 20px;
    display: inline-block; 
    margin-right: 1em; 
    margin-left: 1em;
    transition: 0.2s;
}
.fab:hover {
    color: gray;
}


/* This ensures that all devices have the content adapted to their sizes */
@media screen and (max-width: 600px) {
  .profileheader img {
    width: 4em;
    height: auto;
    
}
.navigation a {
    font-size: 100%;
}
.fa-regular{
    font-size: 30px;
}
.stripe{
    margin-top: 20%;
}
}


@media screen and (max-width: 1200px) {
     .name input{
        padding: 10px 50px;
    }
     .email input{
        padding: 10px 50px;
    }
     .mensaje input{
        padding: 120px 80px;
    }
}


